openapi: "3.0.0"
info:
  description: |
   Eine der größten Datenbanken zu Coaching-/Aktivierungsangeboten Deutschlands durchsuchen. 
   
   Die Authentifizierung funktioniert per OAuth 2 Client Credentials mit JWTs. Folgende Client-Credentials können dafür verwendet werden:
   
   **ClientID:** ee971dcb-96fa-47b3-b2be-00863e4fc88b
   
   **ClientSecret:** 1050e0b7-6db8-49e8-aff9-0e58e556681f
   
   **Achtung**: der generierte Token muss bei folgenden GET-requests im header als *'OAuthAccessToken'* inkludiert werden. Alternativ kann man bei folgenden GET-requests auch direkt die *client_id* als Header-Parameter *'X-API-Key'* übergeben - *'OAuthAccessToken'* ist in diesem Fall nicht erforderlich. 🚀
  version: "1.0.0"
  title: "Bundesagentur für Arbeit: Coachingangebote API"
  contact:
    name:  "AndreasFischer1985"
    email: "andreasfischer1985@web.de"
    url: "https://github.com/AndreasFischer1985/coachingangebote-api"

servers:
  - url: "https://rest.arbeitsagentur.de/infosysbub/avgs"

paths:
  /pc/v1/aktivierungsangebote:
    get:
      summary: Coaching-/Aktivierungsangebote
      description: "Die Suche nach Coaching-/Aktivierungsangeboten ermöglicht verfügbare Weiterbildungsangebote mit verschiedenen GET-Parametern zu filtern."
      operationId: aktivierungsangebote
      responses:
        '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Response'
      parameters:

        - in: query
          name: mz
          schema:
            type: string
            enum:
                - SA%2001
                - SA%2004
                - SA%2005
          description: Maßnahmenziel - SA%2001 = Heranführung an den Ausbildungs- und Arbeitsmarkt sowie Feststellung, Verringerung und Beseitigung von Vermittlungshemmnissen; SA%2004 = Heranführung an eine selbständige Arbeit; SA%2005 = Stabilisierung einer Beschäftigungsaufnahme.
          example: SA%2001
          required: true

        - in: query
          name: sw
          schema:
            type: string
          description: Suchwort 
          example: Vermittlungshemmnisse
          required: false

        - in: query
          name: ort
          schema:
            type: string
          description: Ortsangabe nebst Postleitzahl und Koordinaten (longitude und latitude) jeweils durch Unterstriche getrennt.
          example: Feucht_90537_11.224918_49.376701
          required: false

        - in: query
          name: pg
          schema:
            type: integer
          description: Ergebnissseite (beginnend mit 0)
          example: 1
          required: false

        - in: query
          name: re
          schema:
            type: string
            enum:
                - BW
                - BY
                - BE
                - BB
                - HB
                - HH
                - HE
                - MV
                - NI
                - NW
                - RP
                - SL
                - SN
                - ST
                - SH
                - TH
          description: Region/Bundesland - BW=Baden-Württemberg; BY=Bayern; BE=Berlin; BB=Brandenburg; HB=Bremen; HH=Hamburg; HE=Hessen; MV=Mecklenburg-Vorpommern; NI=Niedersachsen; NW=Nordrhei-Westfalen; RP=Rheinland-Pfalz; SL=Saarland; SN=Sachsen; ST=Sachsen-Anhalt; SH=Schleswig-Holstein; TH=Thüringen. Mehrere Komma-getrennte Angaben möglich.
          example: BY
          required: false

        - in: query
          name: ban
          schema:
            type: integer
          description: Anbieter-ID
          example: 229563
          required: false

        - in: query
          name: uk
          schema:
            type: string
            enum:
                - 'Bundesweit'
                - '25'
                - '50'
                - '100'
                - '150'
                - '200'
          description: Umkreis - Bundesweit=Bundesweit; 25=25 km; 50=50 km; 100=100 km; 150=150 km; 200=200 km.
          example: "Bundesweit"
          required: false

        - in: query
          name: mna
          schema:
            type: integer
            enum:
                - 0
                - 1

          description: Maßnahmenart - 0=Einzelmaßnahme; 1=Gruppenmaßnahme. Komma-separierte Angaben möglich.
          example: 0
          required: false

        - in: query
          name: deufoev
          schema:
            type: boolean
            enum:
                - true
                - false               
          description: DEUFOEV - true = (nur) Anbieter berufsbezogener Sprachförderung Deutsch (DeuFöV) anzeigen.
          example: true
          required: false

        - in: query
          name: sort
          schema:
            type: string
            enum:
                - ta
                - tz               
          description: Sortierungskriterium - ta = Maßnahmetitel A-Z; tz = Maßnahmetitel Z-A.
          example: ta
          required: false



security:
  - APIKeyHeaders: []

components:
  securitySchemes:
    APIKeyHeaders:    
      type: apiKey
      in: header
      name: X-API-Key
      description: "X-API-Key ist die Client-ID ee971dcb-96fa-47b3-b2be-00863e4fc88b"
      
  schemas:    
    Response:
      type: object
      properties:
        _embedded: 
          type: object
          properties: 
            termine: 
              type: array
              items: 
                type: object
                properties: 
                  id: 
                    type: integer
                    example: 130945910    
                  massnahmeNummer: 
                    type: string
                    example: M-20-24100
                  angebot:
                    type: object
                    properties:   
                      id:
                        type: integer
                        example: 11302952
                      titel:
                        type: string
                        example: Jobcoaching, Bewerbungs- und Soft Skills Training (Einzel, intensiv)        
                      inhalt:
                        type: string 

                      anbieter:   
                        type: object
                        properties:   
                          id:
                            type: integer
                            example: 250563  
                          name:
                            type: string
                          deuFoeV:
                            type: string
                          telefonVorwahl:
                            type: string
                            example: '02241'
                          telefonDurchwahl:
                            type: string
                          mobilVorwahl:
                            type: string
                          mobilDurchwahl:
                            type: string
                          faxVorwahl:
                            type: string
                          faxDurchwahl:
                            type: string
                          homepage:
                            type: string
                          email:
                            type: string
                          adresse:
                            type: object
                            properties:
                              id: 
                                type: integer
                                example: 3516303
                              bezeichnung: 
                                type: string
                              hinweise: 
                                type: string
                              strasse: 
                                type: string
                              ortStrasse:
                                type: object
                                properties:
                                  id: 
                                    type: integer
                                    example: 21248
                                  plz: 
                                    type: string
                                    example: '53757'
                                  name: 
                                    type: string
                                    example: Sankt Augustin
                                  laengengrad: 
                                    type: number
                                    example: 17.1853  
                                  breitengrad: 
                                    type: number
                                    example: 40.7733  
                                  koordinaten:
                                    type: object
                                    properties:
                                      lat:
                                        type: number
                                        example: 17.1853
                                      lon:
                                        type: number
                                        example: 40.7733 
                                  land:
                                    type: object
                                    properties:   
                                      id: 
                                        type: integer           
                                      name: 
                                        type: string  
                                        example: Bayern
                                      laenderCode: 
                                        type: string 
                                        example: D 
                                      bundeslandCode: 
                                        type: string    
                                        example: BAY    
                                      code: 
                                        type: string    
                                        example: BAY   
                              dienstleistungen: 
                                type: string
                              telefonVorwahl: 
                                type: string 
                              telefonDurchwahl: 
                                type: string        
                              mobilVorwahl: 
                                type: string 
                              mobilDurchwahl: 
                                type: string    
                              faxVorwahl: 
                                type: string 
                              faxDurchwahl: 
                                type: string    
                              email: 
                                type: string 
                              homepage: 
                                type: string   
                          logo:
                            type: object
                            properties:
                              id: 
                                type: integer
                                example: 38803
                              url: 
                                type: string
                              externalURL: 
                                type: string
                      zertifizierer:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 25  
                      suchworte: 
                        type: array
                        items:
                          type: object
                          properties:
                            suchwort:
                              type: string
                              example: Aktivierung (§ 45 SGB III)               
                      systematiken: 
                        type: array
                        items:
                          type: object
                          properties: 
                            id:
                              type: integer
                              example: 131172
                            codeNr:
                              type: string
                              example: SA 01
                            bezeichnung:
                              type: string
                              example: '§ 45 Abs. 1 Nr. 1 SGB III: Heranführung an den Ausbildungs- und Arbeitsmarkt sowie Feststellung, Verringerung oder Beseitigung von Vermittlungshemmnissen'      
                            suchworte:
                              type: array
                              items:
                                type: string
                  adresse:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 3699675
                      bezeichnung:
                        type: string
                        example: Nürnberg                    
                      hinweise:
                        type: string                     
                      strasse:
                        type: string     
                      ortStrasse:
                        type: object
                        properties:
                          id: 
                            type: integer
                            example: 21248
                          plz: 
                            type: string
                            example: '53757'
                          name: 
                            type: string
                            example: Sankt Augustin
                          laengengrad: 
                            type: number
                            example: 17.1853  
                          breitengrad: 
                            type: number
                            example: 40.7733  
                          koordinaten:
                            type: object
                            properties:
                              lat:
                                type: number
                                example: 17.1853
                              lon:
                                type: number
                                example: 40.7733 
                          land:
                            type: object
                            properties:   
                              id: 
                                type: integer           
                              name: 
                                type: string  
                                example: Bayern
                              laenderCode: 
                                type: string 
                                example: D 
                              bundeslandCode: 
                                type: string    
                                example: BAY    
                              code: 
                                type: string    
                                example: BAY 
                      dienstleistungen:
                        type: string
                      telefonVorwahl:
                        type: string
                      telefonDurchwahl:
                        type: string
                      mobilVorwahl:
                        type: string
                      mobilDurchwahl:
                        type: string
                      faxVorwahl:
                        type: string
                      faxDurchwahl:
                        type: string
                      email:
                        type: string
                      homepage:
                        type: string
                  unterrichtsform:
                    type: object
                    properties:
                      id: 
                        type: integer
                        example: 0
                      bezeichnung: 
                        type: string
                        example: Einzelmaßnahme
                  gueltigVon: 
                      type: integer
                      example: 1599688800000
                  gueltigBis: 
                      type: integer
                      example: 1694210400000
                  massnahmeZeiten: 
                      type: string
                      example: '<p>Dauer: bis zu 4 Wochen<br/>Umfang: bis zu 60 Einheiten a 45 Minuten,<br/>Maßnahmezeiten individuell zwischen Mo.-Fr. zw. 9-17 Uhr</p>'
                  individuellerEinstieg:
                      type: boolean
                      example: true
                  bemerkungZeit: 
                      type: string
                      example: <p>Maßnahme wird auch online angeboten; bitte den Bildungsträger hierauf direkt ansprechen</p>
                  zusatzlink:
                      type: string
                  ansprechpartner:
                    type: array
                    items:
                      type: object
                      properties:
                       id:
                         type: integer
                         example: 1102726
                       anrede: 
                         type: string
                         example: m
                       titel: 
                         type: string
                       nachname:
                         type: string
                         example: Heuser
                       vorname:
                         type: string
                         example: Martin
                       bemerkungen:
                         type: string
                       telefonVorwahl:
                         type: string
                         example: '02241'
                       telefonDurchwahl:
                         type: string
                         example: '2344760'
                       email:
                         type: string
                       rollen:
                         type: array
                         items:
                           type: object
                           properties:
                             id:
                               type: integer
                               example: 2
                             bezeichnung:
                               type: string
                               example: Gesamtansprechpartner
                  aktualisierungsdatum: 
                    type: integer
                    example: 1636066800000
                  abstaende:
                    type: array
                    items:
                      type: object
                      properties:
                        ort:
                          type: object
                          properties:
                            name: 
                              type: string
                              example: Feucht
                            postleitzahl: 
                              type: integer
                            laengengrad: 
                              type: number
                              example: 21.2147
                            breitengrad: 
                              type: number
                              example: 29.375
                        abstandInKm:
                          type: number
                          example:  13.143151025302
        _links: 
          type: object
          properties: 
            first: 
              type: object
              properties: 
                href: 
                  type: string
            self: 
              type: object
              properties: 
                href: 
                  type: string
            next: 
              type: object
              properties: 
                href: 
                  type: string
            last: 
              type: object
              properties: 
                href: 
                  type: string
        page: 
          type: object
          properties: 
            size: 
              type: integer
              format: int32
              example: 20
            totalElements: 
              type: integer
              format: int32
              example: 10000
            totalPages: 
              type: integer
              format: int32
              example: 500
            number: 
              type: integer
              format: int32
              example: 0
        aggregations: 
          type: object
          properties: 
            ANZAHL_AUSGEFILTERT: 
              type: object
              properties: 
                COUNT:
                  type: integer
                  example: 406
            UNTERRICHSFORMEN: 
              type: object
              properties: 
                '0':
                  type: integer
                  example: 308
                '1':
                  type: integer
                  example: 406
            ANBIETER: 
              type: object
              description: ANBIETER enthält eine lange Liste an Objekten - ein Objekt je Anbieter--ID. Für jede Anbieter-ID (z.B. 1371) sind als integer anzahlErgebnisse und als string name ausgewiesen.
            DEUFOEV:
              type: string
              example: DEUFOEV
            AKTIVIERUNGSANGEBOTIDS:
              type: array
              items:
                type: integer
                example: 134134448
            REGIONEN: 
              type: object
              properties:
                MBV:
                  type: integer
                  description: Mecklenburg-Vorpommern
                  example: 9098
                SAN:
                  type: integer
                  description: Sachsen-Anhalt
                  example: 9098
                RPF:
                  type: integer
                  description: Rheinland-Pfalz
                  example: 9098
                THÜ:
                  type: integer
                  description: Thüringen
                  example: 9098
                -:
                  type: integer
                  description: überregionale Angebote
                  example: 9098
                SLH:
                  type: integer
                  description: Schleswig-Holstein
                  example: 9098
                BER:
                  type: integer
                  description: Berlin
                  example: 9098
                iCH:
                  type: integer
                  description: internationale Angebote aus der Schweiz
                  example: 9098
                BRA:
                  type: integer
                  description: Brandenburg
                  example: 9098
                NRW:
                  type: integer
                  description: Nordrhein-Westfalen
                  example: 9098
                SAA:
                  type: integer
                  description: Sachsen-Anhalt
                  example: 9098
                SAC:
                  type: integer
                  description: Sachsen
                  example: 9098
                BRE:
                  type: integer
                  description: Bremen
                  example: 9098
                HAM:
                  type: integer
                  description: Hamburg
                  example: 9098
                HES:
                  type: integer
                  description: Hessen
                  example: 9098
                BAW:
                  type: integer
                  description: Baden-Württemberg
                  example: 9098
                iA:
                  type: integer
                  description: internationale Angebote aus Österreich
                  example: 9098
                BAY:
                  type: integer
                  description: Bayern
                  example: 9098
                NDS:
                  type: integer
                  description: Niedersachsen
                  example: 9098
            ANZAHL_GESAMT: 
              type: object
              properties:
                COUNT:
                  type: integer
                  description: Anzahl gesamt
                  example: 308

externalDocs:
  description: "Weiterführende Dokumentation"
  url: "https://github.com/AndreasFischer1985/coachingangebote-api"

